@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

:root {
    --primary-color: hsl(4, 100%, 67%);
    --neutral-color-one: hsl(234, 29%, 20%);
    --neutral-color-two: hsl(235, 18%, 26%);
    --neutral-color-three: hsl(231, 7%, 60%);
    --neutral-color-four: hsl(0, 0%, 100%);
    --p-font-size: 16px;
}

html, body {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--neutral-color-one);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--neutral-color-four);
    border-radius: 18px;
    padding: 20px;
    width: 64%;
    /* height: 500px; */
    display: flex;
    column-gap: 25px;
}

.newsletter-details {
    padding-left: 32px;
    place-content: center; /** OR place-self: center; */
}

.newsletter-heading {
    font-size: 36px;
    color: var(--neutral-color-one);
    padding-bottom: 20px;
}

.newsletter-subheading {
    padding-bottom: 20px;
}

.benefits {
    display: flex;
    padding-bottom: 10px;
}

.benefits:last-child {
    padding-bottom: 40px;
}

.list-icon {
    width: 20.99px;
    height: 20.99px;
}

.list-items {
    padding-left: 12px;
}

.email-label {
    display: block;
    width: max-content;
    padding-bottom: 8px;
    color: var(--neutral-color-two);
}

#email {
    outline: none;
    padding: 10px 16px;
    border: 1px solid var(--neutral-color-three);
    border-radius: 5px;
    width: 92%;
    margin-bottom: 20px;
}

.submit-email {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 14px;
    background-color: var(--neutral-color-one);
    color: var(--neutral-color-four);
    font-family: inherit;
    font-weight: 700;
    width: 92%;
    cursor: pointer;
}

/* .newsletter-image {

} */

.sign-up-image {
    height: 450px;
}