@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    --primary-color: hsl(4, 100%, 67%);
    --neutral-color-one: hsl(234, 29%, 20%);
    --neutral-color-two: hsl(235, 18%, 26%);
    --neutral-color-three: hsl(231, 7%, 60%);
    --neutral-color-four: hsl(0, 0%, 100%);
    --p-font-size: 16px;
}

html, body {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--neutral-color-one);
    display: flex;
    justify-content: center;
}

.container {
    background-color: var(--neutral-color-four);
    border-radius: 8px;
    padding: 20px;
    display: flex;
}